body {
    margin: 0px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url("https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
}

.horizontal-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;

}

.text-center {
    text-align: center;
}

/* About section */
#about{
    position:relative;
    width:100%;
    height:auto;
}
/* 
#abt-img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    margin:auto;
} */
#abt-img img{
    height: 10rem;
    width: 10rem;}

#abt-img{
  margin:auto;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  margin-top: -98px;
}